<?xml version="1.0"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuite name="DutchGeo postal to latlong test suite">
        <directory>test</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>

